<h1>All Events</h1>



<table class="table table-striped">
  <tr>
    <th>Event Title</th>
    <th>Event City</th>
    <th>Event ID</th>
    <th>Source ID</th>
    <th>Ticket/Event URL</th>
    <th>FlipTix <i class="fa fa-ticket" aria-hidden="true"></i> Available?</th>
    <th>Venue</th>
  </tr>
 
  <% @events.each do |event| %>
    <tr>
      <td><%= event.event_title %></td>
      <td><%= event.venue_id %></td>
      <td><%= event.event_sourceid  %></td>
      <td><%= event.venue_sourceid  %></td>
      <!-- Make the following a conditional on if event_url is not blank -->
      <td><a href="<%= event.event_url%>" TARGET="_BLANK"><i class="fa fa-ticket" aria-hidden="true"></i></a></td>
      <td><i class="fa fa-ticket" aria-hidden="true"></i></td>
      <td><a href="venues/<%= event.venue_id %>">Venue</a></td> 
    </tr>
  <% end %>
</table>
</div>

