<h1>Create a new event</h1>

<table class="table">
    

<%= form_for :event, url:events_path do |f| %>
<tr>
    <td><%= f.label :event_title %></td>
    <td><%= f.text_field :event_title %></td>
</tr>
    
<tr>
    <td><%= f.label :city %></td>
    <td><%= f.text_field :event_city %></td>
</tr>
 
 <tr>
     
<td colspan="2">
    <%= f.submit class: "btn btn-lg btn-primary" %>
    </td>
  </tr>
  
 </table>
 <% end %>