<!DOCTYPE html>
<html>
<head>
  <title>Happening Here</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= yield :head %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= link_to 'Event List', events_path %><br>
<%= link_to 'Venue List', venues_path %><br>
<%= link_to 'Map,', root_url %><br>
<%= link_to 'Map', :controller => :places, :action => :search %>

</body>
</html>
